### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
word = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily. Life ia but a dream. Row, row, row your boat. Gently up the creek."
word.count('row')

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [17]:
name = input('what is your name?')
color = input('what color?')
animal = input('waht animal?')
print(f'{name} had a little {animal}')
print(f'it was {color} as a snow')
print(f' and everywhere that {name} went, the {animal} was sure to go')

what is your name?Mayor
what color?Green
waht animal?bird
Mayor had a little bird
it was Green as a snow
 and everywhere that Mayor went, the bird was sure to go

3. Print 3.14159 in a scientific number notation

In [3]:
pi_value = 3.14159
print(f"{pi_value : e}")

 3.141590e+00

4. Print 3.1559 in 3 decimal places

In [4]:
pi_value = 3.1559
print(f"{pi_value :.3f}")
print("{:.3f}".format(3.14159))

3.156
3.142

5. Print 1589.92341 in a scientific number notation to the power of 3

In [5]:
num = 1589.92341
print(f"{num :.3e}")
print("{:.3e}".format(1589.92341))

1.590e+03
1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [4]:
print(39//2)
print(bin(39//2))
print(int(39//2))

19
0b10011
19

In [5]:
print(39%2)
print(bin(39%2))
print(int(39%2))

1
0b1
1

In [6]:
print(9 // 2)
print(9 % 2)

4
1

In [7]:
print(4 // 2)
print(4 % 2)

2
0

In [8]:
print(2// 2)
print(2% 2)

1
0

In [9]:
print(1 // 2)
print(1 % 2)

0
1

In [ ]:
num = 0b111001

In [11]:
print(int(num))
print(bin(57))

1589
0b111001

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [12]:
print(39 // 8)
print(39 % 8)

4
7

In [13]:
print(4 // 8)
print(4 % 8)

0
4

In [14]:
oct_num = 0o47
print(int(oct_num))

39

In [15]:
oct(39)

'0o47'

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [16]:
print(39 // 16)
print(39 % 16)

2
7

In [18]:
print(2 // 16)
print(2 % 16)

0
2

In [20]:
Hex_num = 0x27
print(int(Hex_num))

39

In [21]:
hex(39)

'0x27'

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [24]:
amount = float(input("Enter an amount: "))
tax_rate = float(input("Enter a tax rate in (percentage): "))

Enter an amount: 87
Enter a tax rate in (percentage): 6

In [25]:
tax_amount = amount * (tax_rate/100)
total = amount + tax_amount
print(f"Amount:\t${amount:,.2f}\nTax:\t${tax_amount:,.2f}\nTotal:\t${total:,.2f}")

Amount:	$87.00
Tax:	$5.22
Total:	$92.22